@import url("https://fonts.googleapis.com/css2?family=Trispace:wght@300&display=swap");
body {
  min-height: 2000px;
  font-family: "Trispace", sans-serif;
}

.jumbotron {
  padding-top: 5rem;
  background-color: #323232;
  height: auto;
}

.img-fluid {
  margin-bottom: 50px;
  margin-top: 70px;
}

.lead {
  padding-bottom: 40px;
  margin-bottom: -200px;
}

#contact,
#about {
  background-color: #212121;
}

.navbar {
  color: #212121;
}

#projects {
  background-color: #323232;
}

.nav-custom {
  background-color: #8758ff;
  color: #212121;
}

.card-body,
p {
  color: white;
}

.bg-custom {
  background-color: #323232;
}

.btn-custom {
  background-color: #8758ff;
}

.btn-custom:hover {
  background-color: #6a49bf;
}

.card-custom {
  background-color: #8758ff;
}

.alert {
  margin-top: 20px;
}

footer a {
  color: #8758ff;
}

footer {
  font-size: 10px;
}

section {
  padding-top: 4rem;
}

.btn {
  margin-top: 10px;
  padding: 10px 20px;
}


@media (max-width: 600px) {
  .card img {
    margin-bottom: 0;
  }
  .nav-link{
    text-align: center;
    margin-bottom: 5px;
  }
  .nav-link:hover{
    background-color: #323232;
  }
  .lead {
    margin-bottom: -100px;
  }
}