@import url("https://fonts.googleapis.com/css2?family=Trispace:wght@300&display=swap");
body {
  min-height: 2000px;
  font-family: "Trispace", sans-serif;
}

.jumbotron {
  padding-top: 2rem;
  background-color: #323232;
  height: auto;
}

.fakeLoader {
  color: red;
}

.img-hero {
  width: 600px;
  height: 600px;
  margin-bottom: 10px;
  margin-top: 10px;
  animation: imghero 1s linear infinite both;
}

.gif-hero {
  width: 100px;
  left: 60%;
  margin: 100px auto;
  position: absolute;
  animation: gif 6s infinite;
}

@keyframes imghero {
  50% {
    transform: translate(0, 5px);
  }
}

@keyframes gif {
  50% {
    left: 45%;
    margin: 300px auto;
  }
  75% {
    left: 49%;
    margin: 190px auto;
  }
}

.lead {
  padding-bottom: 40px;
  margin-bottom: -200px;
}

#contact,
#about {
  background-color: #212121;
}

.navbar {
  color: #212121;
}

#projects {
  background-color: #323232;
}

.nav-custom {
  background-color: #8758ff;
  color: #212121;
}

.card-body,
p {
  color: white;
}

.bg-custom {
  background-color: #323232;
}

.btn-custom {
  background-color: #8758ff;
}

.btn-custom:hover {
  background-color: #6a49bf;
}

.card-custom {
  background-color: #8758ff;
}

.alert {
  margin-top: 20px;
}

footer a {
  color: #8758ff;
}

footer {
  font-size: 10px;
}

section {
  padding-top: 4rem;
}

.btn {
  margin-top: 10px;
  padding: 10px 20px;
}


@media (max-width: 600px) {
  .card img {
    margin-bottom: 0;
  }

  .nav-link{
    text-align: center;
    margin-bottom: 5px;
  }

  .nav-link:hover{
    background-color: #323232;
  }

  .lead {
    margin-bottom: -100px;
  }

  .img-hero {
    width: 80%;
    height: 100%;
    margin-top: 5rem;
    margin-bottom: 3rem;
  }

  .gif-hero {
    width: 80px;
    left: 70%;
    margin: 120px auto;
    position: absolute;
    animation: gif 6s infinite;
  }

  @keyframes gif {
    50% {
      left: 45%;
      margin: 190px auto;
    }
    75% {
      left: 40%;
      margin: 300px auto;
    }
  }

  @keyframes imghero {
    50% {
    transform: translate(0, 5px);
    }
  }
}